ul {
  list-style-type: none;
}

div {
  
  gap: 20px;
}

.category {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  overflow: hidden;
 
  align-items: center;
  justify-content: center;
}


figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  mix-blend-mode: multiply;
  width: 90px; /* Ajuste l'image pour tenir dans le rond */
  height: auto;
  background-color: transparent;
}

figcaption {
  font-size: 14px;
}

body{
  background-color: #1A1A1A;
