ul {
  list-style-type: none;
}

div {
  display: flex;
  gap: 20px;
}

.category {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category:nth-child(1) {
  background-color: #4CAF50; /* Vert */
}

.category:nth-child(2) {
  background-color: #FFC0CB; /* Rose */
}

figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 60px; /* Ajuste l'image pour tenir dans le rond */
  height: auto;
}

figcaption {
  font-size: 14px;
}
