.btn-add-to-cart {
    background-color: #FF6B6B; /* vert */
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px; /* Coins arrondis */
    font-size: 5px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 4px 15px rgba(231, 76, 60, 0.3); /* Ombre douce */
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}
